.DS_Store
node_modules
package-lock.json
/dist
/screen
package.json
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.json

# Editor directories and files
/.idea
.vscode
/.cache
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build files
household
manager
